.panel {
  background-color: var(--color-background-secondary);
  padding: 13px 10px;
  box-shadow: var(--shades);
  margin-bottom: 15px;

  .panel__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .rightSideGroup {
      display: flex;
      gap: 10px;
    }
  }
}
