.modalWrapper {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 30;
  border: none;
  color: var(--text-primary);
  font-size: 1rem;
}

.modalContainer {
  max-width: 420px;
  height: min-content;
  position: relative;
  top: calc(34% - 86px);
  margin: auto;
  padding: 40px 0 30px 0;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-primary);
}

.formTitle {
  color: var(--text-primary);
  font-size: 1.25rem;
}

.cross {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.modalForm {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 80%;
}

.inputTitle {
  padding: 5px;
}

.message {
  padding: 10px 20px 0 20px;
  color: var(--text-warning);
}

.genderPart {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 5px;
}

.genderPart label {
  display: flex;
  gap: 5px;
}

.genderPartTitle {
  color: gray;
}

.modalForm button {
  border: none;
  border-radius: 100px;
  background-color: #fff;
  padding: 15px 0;
  cursor: pointer;
  color: var(--text-primary);
  font-size: 1rem;
  box-shadow: 0 1px 4px 0 var(--shadow-primary);
  width: 70%;
  align-self: center;
}

.modalForm button:hover {
  background-color: var(--button-background-active);
  color: var(--background-secondary);
}
