.tabCard {
    display: flex;
    border: 1px solid var(--border-navbar);
    border-radius: 4px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.tabCard svg rect {
    fill: var(--background-primary);
}

.info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 14px;
    color: var(--text-primary);
}

.date {
    font-size: 0.875rem;
    color: var(--text-interactive-element);
}

.status {
    align-self: flex-end;
    justify-self: flex-end;
    color: var(--text-warning);
}